//---------------------------------
//===---------------------------===
// Button colors
//===---------------------------===
//---------------------------------
@use "sass:map";
@use "colors";

$button-dark: (
  primary-text: map.get(colors.$colors, neutral-50),
  primary-hover-text: map.get(colors.$colors, teal-700),
  primary-hover-bg: map.get(colors.$colors, neutral-50),
  outline-bg: map.get(colors.$colors, transparent),
  outline-text: map.get(colors.$colors, neutral-50),
  outline-border: map.get(colors.$colors, purple-600),
  outline-hover-text: map.get(colors.$colors, teal-400),
  outline-border-hover: map.get(colors.$colors, pink-600),
  disabled-bg: map.get(colors.$colors, neutral-700),
  disabled-text: map.get(colors.$colors, neutral-500),
  disabled-border: map.get(colors.$colors, neutral-700),
);

$button-light: (
  primary-text: map.get(colors.$colors, neutral-50),
  primary-hover-text: map.get(colors.$colors, neutral-800),
  primary-hover-bg: map.get(colors.$colors, teal-500),
  outline-bg: map.get(colors.$colors, transparent),
  outline-text: map.get(colors.$colors, neutral-800),
  outline-border: map.get(colors.$colors, purple-600),
  outline-hover-text: map.get(colors.$colors, neutral-700),
  outline-border-hover: map.get(colors.$colors, neutral-700),
  disabled-bg: map.get(colors.$colors, neutral-200),
  disabled-text: map.get(colors.$colors, neutral-500),
  disabled-border: map.get(colors.$colors, neutral-200),
);
