//---------------------------------
//===---------------------------===
// Fonts
//===---------------------------===
//---------------------------------
$font-family: (
  heading: var(--font-sora),
  body: var(--font-inter),
);
