//---------------------------------
//===---------------------------===
// Theme colors
//===---------------------------===
//---------------------------------
@use "sass:map";
@use "colors";

$theme-dark: (
  background: map.get(colors.$colors, neutral-950),
  background-subtle: map.get(colors.$colors, neutral-800),
  surface: map.get(colors.$colors, neutral-900),
  text-primary: map.get(colors.$colors, neutral-100),
  text-secondary: map.get(colors.$colors, neutral-300),
  primary: map.get(colors.$colors, teal-600),
  border: rgba(255, 255, 255, 0.08),
  accent: map.get(colors.$colors, purple-600),
  accent-light: map.get(colors.$colors, purple-400),
  accent-alt: map.get(colors.$colors, pink-700),
  accent-alt-light: map.get(colors.$colors, pink-500),
  amber: map.get(colors.$colors, amber-500),
  warning: map.get(colors.$colors, yellow-500),
  error: map.get(colors.$colors, red-500),
  info: map.get(colors.$colors, blue-500),
  link: map.get(colors.$colors, teal-600),
  link-hover: map.get(colors.$colors, pink-600),
);

$theme-light: (
  background: map.get(colors.$colors, neutral-100),
  background-subtle: map.get(colors.$colors, neutral-200),
  surface: map.get(colors.$colors, neutral-50),
  text-primary: map.get(colors.$colors, neutral-950),
  text-secondary: map.get(colors.$colors, neutral-600),
  primary: map.get(colors.$colors, teal-600),
  border: rgba(0, 0, 0, 0.12),
  accent: map.get(colors.$colors, purple-600),
  accent-light: map.get(colors.$colors, purple-400),
  accent-alt: map.get(colors.$colors, pink-700),
  accent-alt-light: map.get(colors.$colors, pink-500),
  amber: map.get(colors.$colors, amber-500),
  warning: map.get(colors.$colors, yellow-500),
  error: map.get(colors.$colors, red-500),
  info: map.get(colors.$colors, blue-500),
  link: map.get(colors.$colors, neutral-950),
  link-hover: map.get(colors.$colors, teal-800),
);
