.button {
  width: fit-content;

  display: block;
  align-items: center;
  justify-content: center;

  padding-block: var(--space-xs);
  padding-inline: var(--space-lg);
  border-radius: var(--radius-md);
  border: 1px solid transparent;

  font-family: var(--font-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);

  cursor: pointer;
  transition: background-color 150ms ease, color 150ms ease,
    border-color 150ms ease;

  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  &[disabled] {
    cursor: not-allowed;

    background: var(--button-disabled-bg);
    color: var(--button-disabled-text);
    border-color: var(--button-disabled-border);

    &:hover,
    &:focus {
      background: var(--button-disabled-bg);
      color: var(--button-disabled-text);
      border-color: var(--button-disabled-border);
    }
  }
}

.primary {
  background: var(--color-primary);
  color: var(--button-primary-text);

  &:hover,
  &:focus-visible {
    background: var(--button-primary-hover-bg);
    color: var(--button-primary-hover-text);
  }
}

.outline {
  background: var(--button-outline-bg);
  color: var(--button-outline-text);
  border-color: var(--button-outline-border);

  &:hover,
  &:focus-visible {
    color: var(--button-outline-hover-text);
    border-color: var(--button-outline-border-hover);
  }
}
