//---------------------------------
//===---------------------------===
// Project Card
//===---------------------------===
//---------------------------------
.card--project {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  gap: var(--space-md) var(--space-2xl);

  position: relative;

  overflow: hidden;
}

.icon {
  width: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;

  grid-column: 1;
  grid-row: 1;

  padding-inline: var(--space-2xs);
  padding-block: var(--space-2xs);

  background: var(--color-background);
  border-radius: var(--radius-md);

  color: var(--color-primary);
}

.title {
  grid-column: 1;
  grid-row: 2;
}

.description {
  grid-row: 3;
  grid-column: 1;
}

.image {
  height: 100%;
  width: auto;

  position: absolute;
  right: -6rem;

  z-index: 0;

  opacity: 0.15;
}

.link {
  width: fit-content;

  display: inline-flex;
  align-items: center;
  gap: var(--space-3xs);

  grid-row: 4;
  grid-column: 1;
  align-self: start;
}

.linkIcon {
  flex-shrink: 0;
  transition: transform 0.15s ease;
}

.link:hover .linkIcon,
.link:focus-visible .linkIcon {
  transform: translateX(3px);
}

.index {
  grid-column: 2;
  grid-row: 1 / -1;

  align-self: flex-end;

  font-size: var(--font-size-2xl);
  font-family: var(--font-body);
  line-height: 1;

  opacity: 0.2;
}
